cache
artifacts
/typechain
node_modules
.openzeppelin/unknown-31337.json
deployments/unknown__*.json
packages/contracts/*
!packages/contracts/package.json
!packages/contracts/build.sh
packages/typechain/*
!packages/typechain/package.json
!packages/typechain/tsconfig.build.json
!packages/typechain/build.sh
packages/hardhat/*
!packages/hardhat/package.json
!packages/hardhat/tsconfig.build.json
!packages/hardhat/build.sh