name: Publish contracts package
on: 
  release:
    types: 
      - created
jobs:
  Publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    if: |
      startsWith(github.ref, 'refs/tags/@originalworks/agreements-hardhat') &&
      !contains(github.ref, '-alpha.')

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Setup node"
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@originalworks'
      
      - name: "Setup environment"
        working-directory: contracts
        run: npm ci

      - name: "Publish"
        working-directory: contracts/packages/hardhat
        run: |
          npm run build
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
